---
// Component Imports
const navigation = [
  { path: '/', title: 'Home' },
  { path: 'about', title: 'About' },
  { path: 'blog', title: 'Blog Posts' },
];
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<div class="">
  {
    navigation.map((p: any) => (
      <div class="group">
        <li>
          <a href={p.path}>{p.title}</a>
        </li>
        <div class="mx-2 mt-2 duration-500 border-b-2 opacity-0 border-black group-hover:opacity-100" />
      </div>
    ))
  }
</div>
